/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-app {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 20px;
}

.weather-header h1 {
    margin-bottom: 20px;
    color: #333;
}

.search-box {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

#search-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #2980b9;
}

.weather-info {
    margin-top: 20px;
}

.weather-details p {
    margin: 5px 0;
}

.weather-icon img {
    width: 50px;
    height: 50px;
} */

body {
  font-family: Calibri, sans-serif;
  background: url(https://images.theconversation.com/files/393210/original/file-20210401-13-z6rl6z.jpg?ixlib=rb-4.1.0&rect=0%2C292%2C3008%2C1504&q=45&auto=format&w=1356&h=668&fit=crop);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 10px;
}

.weather-header {
  margin-top: 15px;
  width: 95vw;
  background-color: #ffffff80;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 25px;
}
/* 
  .box-2 {
    width: 50%;
  } */

.weather-app {
  text-align: center;
  background-color: #ffffff80;
  border-radius: 10px;
  margin-left: auto;
    margin-right: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.search-box {
  margin-bottom: 20px;
}

#city-input {
  margin-top: 30px;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25) inset;
}

#search-btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25) inset;
  margin-bottom: 20px;
}

#search-btn:hover {
  background-color: #2980b9;
}
img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

/* .weather-img{
    border-radius: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  } */
